# =========================
# Python / FastAPI
# =========================
venv/
__pycache__/
*.pyc
*.db
.env

# =========================
# React / Node
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Base de datos
# =========================
task_manager.db